html {
    background-color: #edb1f1; 
 
}
#name {
    text-align: center;
    background-color: #8ef6e4;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
}

div.recipes{
    text-align: center;
    background-color: #d59bf6;
}

ul.myrecipes{
    display: inline-block;
    text-align: left;
    color: whitesmoke;
}


#lasagna,
#samosa,
#garlicbread{
    font-size: 40px;
    color: whitesmoke;
}